.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/*CSS DA IMAGEM DO MEIO*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px){
  img {
    width: 50%;
    height: auto;
  }
}

@media only screen 
and (min-device-width : 1224px){
  img {
    width: 20%;
    height: auto;
  }
}

@font-face {
  font-family: 'vegan-style';
  src: local('vegan-style'), url(./fonts/vegan-style.ttf) format('woff');
}

.App-header {
  background-image: linear-gradient(to right,#E55D87, #5FC3E4);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /*Linha responsável por deixar os trecos do css centralizados*/
  font-family: vegan-style;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  background: aliceblue;
  cursor: pointer;
  transition: all 0.3s ease;
  width: auto;
  border-radius: 16px;
  border-color: #61dafb;
  color: rgb(197, 111, 190);
}

#myText {
  font-family: 'Courier New', Courier, monospace;
}

form {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: space-around;
}

#txtHoras {
  margin: 0 10px;
}

#txtMinutos {
  margin: 0 10px;
}

#minutos {
  margin: 0 10px;
  background: aliceblue;
  border-radius: 16px;
  border-color: #61dafb;
  color: rgb(197, 111, 190);
}

#horas {
  margin: 0 10px;
  background: aliceblue;
  border-radius: 16px;
  border-color: #61dafb;
  color: rgb(197, 111, 190);
}